

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink='' routerLinkActive='active' href="">FPL Transfer Suggester</a>
  <div class="btn-group" dropdown>
    <button style="cursor:pointer;" dropdownToggle type="button" class="btn dropdown-toggle">
      Menu <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem"><a class="nav-link" routerLink='' routerLinkActive='active'>Home</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="nav-link" routerLink='/players/' routerLinkActive='active'>Players</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="nav-link" routerLink='/fixtures/' routerLinkActive='active'>Fixtures</a></li>
    </ul>
  </div>

</nav>



<div class="container">
  <router-outlet></router-outlet>
</div>



